@import url(utils/utils.css);
@import url(utils/margins.css);
@import url(utils/paddings.css);

@import url(components/navigation.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

:root {
  --light-gray: rgb(238, 238, 238);
  --medium-gray: rgb(96, 96, 96);
  --dark-grey: rgb(13, 13, 13);
  --light-mask: rgba(0, 119, 255, 0.05);
}

.sidebar {
  display: fixed;
  /* display: none; */
  flex-shrink: 0;
  height: calc(100vh - var(--header-height));
  border-right: 1px solid var(--light-gray);
  width: 300px;
  align-items: center;
  flex-basis: 200px;
  position: fixed;
  overflow-y: scroll;
  top: 3rem;
  bottom: 0;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.sidebar-list button {
  padding: 1.25rem;
  width: 100%;
  height: 100%;
  font-size: 1rem;
}

.sidebar-list button a {
  text-decoration: none;
  color: black;
}

.sidebar-list button {
  margin: 0 1px 0 1px;
  background: white;
  border: none;
  border-bottom: 1px solid var(--light-mask);
}

.sidebar-list button:hover {
  background-color: var(--light-gray);
}

.sidebar::-webkit-scrollbar {
  width: 1px;
}

/* Track */
.sidebar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.sidebar::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.sidebar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.content {
  padding: 1rem;
  margin-left: 350px;
  /* width: 100%; */
}

.topic-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.topic-content {
  margin-bottom: 1rem;
}

.sample-box {
  background: var(--light-mask);
  border-radius: 5px;
  padding: 1rem;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.sample-box > * {
  margin: 1rem;
}

.sample-box.flex-column {
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}

.sample-box > div {
  margin: 10px;
}

.sample-images > img {
  width: 20rem;
  height: 20rem;
}
.sample-box > img + img,
.sample-box input + input {
  margin-left: 1rem;
}

.sample-box.nav-bar {
  width: 100%;
}

.snippet {
  padding: 1rem;
  max-height: 20rem;
  width: 100%;
  margin: auto;
  overflow: scroll;
  overflow-x: hidden;
  border: 0.5rem solid var(--light-mask);
  border-right: none;
  border-radius: 5px;
}

/* width */
.snippet::-webkit-scrollbar {
  width: 0.5rem;
}
.snippet::-webkit-scrollbar-thumb {
  background: #9fcbff;
}

pre.prettyprint.prettyprinted {
  border: none;
}

@media only screen and (max-width: 900px) {
  .sidebar {
    display: none;
  }

  .content {
    display: flex;
    width: 100%;
    margin: auto;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    /* width: auto; */
  }

  .topic-content {
    display: flex;
    width: 100%;
    margin: auto;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    /* width: auto; */
  }
}
