/* headings */
:root {
  --value-1: 0.25rem; /* 4px */
  --value-2: 0.375rem; /* 6px */
  --value-3: 0.5rem; /* 8px */
  --value-4: 0.625rem; /* 10px */
  --value-5: 0.75rem; /* 12px */
  --value-6: 0.875rem; /* 14px */
  --value-7: 1rem; /* 16px */
  --value-8: 1.25rem; /* 20px */
  --value-9: 1.5rem; /* 24px */
  --value-10: 1.75rem; /* 28px */
  --value-11: 2rem; /* 32px */
  --value-12: 2.25rem; /* 36px */
  --value-13: 2.5rem; /* 40px */
}

h1 {
  font-size: 4.8rem;
  line-height: 6.4rem;
}

h2 {
  font-size: 3.2rem;
  line-height: 4rem;
}

h3 {
  font-size: 2.4rem;
  line-height: 3.2rem;
}

h4 {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

h5 {
  font-size: 1rem;
  line-height: 1.6rem;
}

h6 {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

/* text sizes */

.text-1 {
  font-size: var(--value-1);
}

.text-2 {
  font-size: var(--value-2);
}

.text-3 {
  font-size: var(--value-3);
}

.text-4 {
  font-size: var(--value-4);
}

.text-5 {
  font-size: var(--value-5);
}

.text-6 {
  font-size: var(--value-6);
}

.text-7 {
  font-size: var(--value-7);
}

.text-8 {
  font-size: var(--value-8);
}

.text-9 {
  font-size: var(--value-9);
}

.text-10 {
  font-size: var(--value-10);
}

.text-11 {
  font-size: var(--value-11);
}

.text-12 {
  font-size: var(--value-12);
}

.text-13 {
  font-size: var(--value-13);
}

/* text-alignments */

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
