/* headings */
:root {
  --value-1: 0.25rem;
  --value-2: 0.375rem;
  --value-3: 0.5rem;
  --value-4: 0.625rem;
  --value-5: 0.75rem;
  --value-6: 0.875rem;
  --value-7: 1rem;
  --value-8: 1.25rem;
  --value-9: 1.5rem;
  --value-10: 1.75rem;
  --value-11: 2rem;
  --value-12: 2.25rem;
  --value-13: 2.5rem;
}

h1 {
  font-size: 4.8rem;
  line-height: 6.4rem;
}

h2 {
  font-size: 3.2rem;
  line-height: 4rem;
}

h3 {
  font-size: 2.4rem;
  line-height: 3.2rem;
}

h4 {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

h5 {
  font-size: 1rem;
  line-height: 1.6rem;
}

h6 {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

/* text sizes */

.text-xs {
  font-size: 0.4rem;
}

.text-s {
  font-size: 0.8rem;
}

.text-base {
  font-size: 1.6rem;
}

.text-l {
  font-size: 2.4rem;
}

.text-xl {
  font-size: 3.2rem;
}

/* text-alignments */

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* default colors */
.gray {
  color: #9a9a9a;
}
